/* header.container-fluid {
    text-align: center;
    color: white;
    background-color: blue;
  }
  header.container-fluid h1 {
    margin: 0 auto;
  }



aside.col-lg-3 {
    width: 200px;
  }
  .search-history-container {
    display: flex;
    flex-direction: column;
  }
  
  .list-group-item {
    display: block;
    width: 177px;
    height: 21px;
    margin-bottom: 5px;
  }
    
  .search-button {
    width: 177px;
    height: 21px;
  } */
  